<ion-header>
  <ion-toolbar class="header-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ledger</ion-title>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="presentModal()">
        <ion-icon slot="icon-only" ios="filter" md="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="User">
      <th mat-header-cell *matHeaderCellDef> User </th>
      <td mat-cell *matCellDef="let element; let i = index;">{{ element.user?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element; let i = index;">{{ element.created_at | date }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Slip No">
      <th mat-header-cell *matHeaderCellDef> Slip No </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Game">
      <th mat-header-cell *matHeaderCellDef> Game</th>
      <td mat-cell *matCellDef="let element"> {{ element.game?.name }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="AP">
      <th mat-header-cell *matHeaderCellDef> AP </th>
      <td mat-cell *matCellDef="let element"> {{ element.ap }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr routerLink="/game-details" [queryParams]="{id:row.id}" mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
  </table>
</ion-content>
