.show-button{
  // border: 1px solid;
  text-align: center;
  height: 40px;
  border-radius: 50px;
  padding: 8px;
  font-size: 20px;
  background: white;
  color: #eb445a;
}

.disabled{
  background: #e0e0e0;
  color:grey;
  pointer-events: none;
}

.total-area{
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
}

ion-item{
    --min-height: 38px;
}

.jantari-container{
    margin: 20px;
    overflow: auto;

    .jantari-table{
        width: 100%;
        font-size: 12px;

        .odd{
            padding-bottom: 10px;
        }
        .even{
            padding-bottom: 5px;

            .green{
              background: #dbffdb;
            }
        }

        .even div{
            min-width: 40px;
            height: 25px;
            border: 1px solid grey;
            border-radius: 6px;
            background: #ececec;
            text-align: center;
            line-height: 1.8;
        }

        .blank{

        }

        .blank div{
            width: 30px;
        }

        .total{
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            padding-bottom: 40px;
            padding-top: 10px;
        }

        .numbers{
          display: flex;
          .display-number{
            line-height: 1.8;
          }
          .map-number{
            min-width: 40px;
            height: 25px;
            border: 1px solid grey;
            border-radius: 6px;
            background: #ececec;
            text-align: center;
            line-height: 1.8;
          }

          .green{
            background: #dbffdb;
          }
        }

        .subtotal{
          min-width: 40px;
          height: 25px;
          border-radius: 6px;
          text-align: center;
          line-height: 1.5;
          margin-left: 15px;
        }
    }

}
