<ion-header>
  <ion-toolbar class="header-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <!-- <ion-label>Date</ion-label> -->
            <ion-datetime mode="ios" displayFormat="DDDD, DD/MM/YYYY" min="1994-03-14" max="2050-12-30" [(ngModel)]="currentDate"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          
            <ion-item>
              <!-- <ion-label color="danger">Games</ion-label> -->
              <ion-select mode="ios" value="Dishawar" okText="Okay" cancelText="Dismiss" interface="action-sheet" placeholder="Select One" style="width: 100%;">
                <ion-select-option value="Dishawar">Dishawar</ion-select-option>
                <ion-select-option value="Kalyan">Kalyan</ion-select-option>
                <ion-select-option value="Faridabad">Faridabad</ion-select-option>
                <ion-select-option value="Gaziabad">Gaziabad</ion-select-option>
              </ion-select>
            </ion-item>

        </ion-col>
        <ion-col>
          <div class="show-button">
            Show
          </div>
        </ion-col>
        <ion-col>
          <div class="total-area">
            Total:00
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
<div class="jantari-container">
  <table class="jantari-table">
    <tr>
      <td class="odd">01</td>
      <td class="even"><div>0</div></td>
      <td class="odd">11</td>
      <td class="even"><div>0</div></td>
      <td class="odd">21</td>
      <td class="even"><div>0</div></td>
      <td class="odd">31</td>
      <td class="even"><div>0</div></td>
      <td class="odd">41</td>
      <td class="even"><div>0</div></td>
      <td class="odd">51</td>
      <td class="even"><div>0</div></td>
      <td class="odd">61</td>
      <td class="even"><div>0</div></td>
      <td class="odd">71</td>
      <td class="even"><div>0</div></td>
      <td class="odd">81</td>
      <td class="even"><div>0</div></td>
      <td class="odd">91</td>
      <td class="even"><div>0</div></td>
      <td class="blank"><div></div></td>
      <td class="odd">A1</td>
      <td class="even"><div>0</div></td>
      <td class="odd">B1</td>
      <td class="even"><div>0</div></td>
    </tr>
    <tr>
      <td class="odd">01</td>
      <td class="even"><div>0</div></td>
      <td class="odd">11</td>
      <td class="even"><div>0</div></td>
      <td class="odd">21</td>
      <td class="even"><div>0</div></td>
      <td class="odd">31</td>
      <td class="even"><div>0</div></td>
      <td class="odd">41</td>
      <td class="even"><div>0</div></td>
      <td class="odd">51</td>
      <td class="even"><div>0</div></td>
      <td class="odd">61</td>
      <td class="even"><div>0</div></td>
      <td class="odd">71</td>
      <td class="even"><div>0</div></td>
      <td class="odd">81</td>
      <td class="even"><div>0</div></td>
      <td class="odd">91</td>
      <td class="even"><div>0</div></td>
      <td class="blank"><div></div></td>
      <td class="odd">A1</td>
      <td class="even"><div>0</div></td>
      <td class="odd">B1</td>
      <td class="even"><div>0</div></td>
    </tr>
    <tr>
      <td class="odd">01</td>
      <td class="even"><div>0</div></td>
      <td class="odd">11</td>
      <td class="even"><div>0</div></td>
      <td class="odd">21</td>
      <td class="even"><div>0</div></td>
      <td class="odd">31</td>
      <td class="even"><div>0</div></td>
      <td class="odd">41</td>
      <td class="even"><div>0</div></td>
      <td class="odd">51</td>
      <td class="even"><div>0</div></td>
      <td class="odd">61</td>
      <td class="even"><div>0</div></td>
      <td class="odd">71</td>
      <td class="even"><div>0</div></td>
      <td class="odd">81</td>
      <td class="even"><div>0</div></td>
      <td class="odd">91</td>
      <td class="even"><div>0</div></td>
      <td class="blank"><div></div></td>
      <td class="odd">A1</td>
      <td class="even"><div>0</div></td>
      <td class="odd">B1</td>
      <td class="even"><div>0</div></td>
    </tr>
    <tr>
      <td class="odd">01</td>
      <td class="even"><div>0</div></td>
      <td class="odd">11</td>
      <td class="even"><div>0</div></td>
      <td class="odd">21</td>
      <td class="even"><div>0</div></td>
      <td class="odd">31</td>
      <td class="even"><div>0</div></td>
      <td class="odd">41</td>
      <td class="even"><div>0</div></td>
      <td class="odd">51</td>
      <td class="even"><div>0</div></td>
      <td class="odd">61</td>
      <td class="even"><div>0</div></td>
      <td class="odd">71</td>
      <td class="even"><div>0</div></td>
      <td class="odd">81</td>
      <td class="even"><div>0</div></td>
      <td class="odd">91</td>
      <td class="even"><div>0</div></td>
      <td class="blank"><div></div></td>
      <td class="odd">A1</td>
      <td class="even"><div>0</div></td>
      <td class="odd">B1</td>
      <td class="even"><div>0</div></td>
    </tr>
    <tr>
      <td class="odd">01</td>
      <td class="even"><div>0</div></td>
      <td class="odd">11</td>
      <td class="even"><div>0</div></td>
      <td class="odd">21</td>
      <td class="even"><div>0</div></td>
      <td class="odd">31</td>
      <td class="even"><div>0</div></td>
      <td class="odd">41</td>
      <td class="even"><div>0</div></td>
      <td class="odd">51</td>
      <td class="even"><div>0</div></td>
      <td class="odd">61</td>
      <td class="even"><div>0</div></td>
      <td class="odd">71</td>
      <td class="even"><div>0</div></td>
      <td class="odd">81</td>
      <td class="even"><div>0</div></td>
      <td class="odd">91</td>
      <td class="even"><div>0</div></td>
      <td class="blank"><div></div></td>
      <td class="odd">A1</td>
      <td class="even"><div>0</div></td>
      <td class="odd">B1</td>
      <td class="even"><div>0</div></td>
    </tr>
    <tr>
      <td class="odd">01</td>
      <td class="even"><div>0</div></td>
      <td class="odd">11</td>
      <td class="even"><div>0</div></td>
      <td class="odd">21</td>
      <td class="even"><div>0</div></td>
      <td class="odd">31</td>
      <td class="even"><div>0</div></td>
      <td class="odd">41</td>
      <td class="even"><div>0</div></td>
      <td class="odd">51</td>
      <td class="even"><div>0</div></td>
      <td class="odd">61</td>
      <td class="even"><div>0</div></td>
      <td class="odd">71</td>
      <td class="even"><div>0</div></td>
      <td class="odd">81</td>
      <td class="even"><div>0</div></td>
      <td class="odd">91</td>
      <td class="even"><div>0</div></td>
      <td class="blank"><div></div></td>
      <td class="odd">A1</td>
      <td class="even"><div>0</div></td>
      <td class="odd">B1</td>
      <td class="even"><div>0</div></td>
    </tr>
    <tr>
      <td class="odd">01</td>
      <td class="even"><div>0</div></td>
      <td class="odd">11</td>
      <td class="even"><div>0</div></td>
      <td class="odd">21</td>
      <td class="even"><div>0</div></td>
      <td class="odd">31</td>
      <td class="even"><div>0</div></td>
      <td class="odd">41</td>
      <td class="even"><div>0</div></td>
      <td class="odd">51</td>
      <td class="even"><div>0</div></td>
      <td class="odd">61</td>
      <td class="even"><div>0</div></td>
      <td class="odd">71</td>
      <td class="even"><div>0</div></td>
      <td class="odd">81</td>
      <td class="even"><div>0</div></td>
      <td class="odd">91</td>
      <td class="even"><div>0</div></td>
      <td class="blank"><div></div></td>
      <td class="odd">A1</td>
      <td class="even"><div>0</div></td>
      <td class="odd">B1</td>
      <td class="even"><div>0</div></td>
    </tr>
    <tr>
      <td class="odd">01</td>
      <td class="even"><div>0</div></td>
      <td class="odd">11</td>
      <td class="even"><div>0</div></td>
      <td class="odd">21</td>
      <td class="even"><div>0</div></td>
      <td class="odd">31</td>
      <td class="even"><div>0</div></td>
      <td class="odd">41</td>
      <td class="even"><div>0</div></td>
      <td class="odd">51</td>
      <td class="even"><div>0</div></td>
      <td class="odd">61</td>
      <td class="even"><div>0</div></td>
      <td class="odd">71</td>
      <td class="even"><div>0</div></td>
      <td class="odd">81</td>
      <td class="even"><div>0</div></td>
      <td class="odd">91</td>
      <td class="even"><div>0</div></td>
      <td class="blank"><div></div></td>
      <td class="odd">A1</td>
      <td class="even"><div>0</div></td>
      <td class="odd">B1</td>
      <td class="even"><div>0</div></td>
    </tr>
    <tr>
      <td class="odd">01</td>
      <td class="even"><div>0</div></td>
      <td class="odd">11</td>
      <td class="even"><div>0</div></td>
      <td class="odd">21</td>
      <td class="even"><div>0</div></td>
      <td class="odd">31</td>
      <td class="even"><div>0</div></td>
      <td class="odd">41</td>
      <td class="even"><div>0</div></td>
      <td class="odd">51</td>
      <td class="even"><div>0</div></td>
      <td class="odd">61</td>
      <td class="even"><div>0</div></td>
      <td class="odd">71</td>
      <td class="even"><div>0</div></td>
      <td class="odd">81</td>
      <td class="even"><div>0</div></td>
      <td class="odd">91</td>
      <td class="even"><div>0</div></td>
      <td class="blank"><div></div></td>
      <td class="odd">A1</td>
      <td class="even"><div>0</div></td>
      <td class="odd">B1</td>
      <td class="even"><div>0</div></td>
    </tr>
    <tr>
      <td class="odd">01</td>
      <td class="even"><div>0</div></td>
      <td class="odd">11</td>
      <td class="even"><div>0</div></td>
      <td class="odd">21</td>
      <td class="even"><div>0</div></td>
      <td class="odd">31</td>
      <td class="even"><div>0</div></td>
      <td class="odd">41</td>
      <td class="even"><div>0</div></td>
      <td class="odd">51</td>
      <td class="even"><div>0</div></td>
      <td class="odd">61</td>
      <td class="even"><div>0</div></td>
      <td class="odd">71</td>
      <td class="even"><div>0</div></td>
      <td class="odd">81</td>
      <td class="even"><div>0</div></td>
      <td class="odd">91</td>
      <td class="even"><div>0</div></td>
      <td class="blank"><div></div></td>
      <td class="odd">A1</td>
      <td class="even"><div>0</div></td>
      <td class="odd">B1</td>
      <td class="even"><div>0</div></td>
    </tr>
    <tr>
      <td class="odd"></td>
      <td class="total"><div>0</div></td>
      <td class="odd"></td>
      <td class="total"><div>0</div></td>
      <td class="odd"></td>
      <td class="total"><div>0</div></td>
      <td class="odd"></td>
      <td class="total"><div>0</div></td>
      <td class="odd"></td>
      <td class="total"><div>0</div></td>
      <td class="odd"></td>
      <td class="total"><div>0</div></td>
      <td class="odd"></td>
      <td class="total"><div>0</div></td>
      <td class="odd"></td>
      <td class="total"><div>0</div></td>
      <td class="odd"></td>
      <td class="total"><div>0</div></td>
      <td class="odd"></td>
      <td class="total"><div>0</div></td>
      <td class="blank"><div></div></td>
      <td class="odd"></td>
      <td class="total"><div>00</div></td>
      <td class="odd"></td>
      <td class="total"><div>00</div></td>
    </tr>
  </table>
</div>
</ion-content>
