.game-image{
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    margin: auto;
}

.game-image img{
    width:100%;
}

.game-name{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}