.cards{
  text-align: center;
  margin: 8px;
}

.left{
  /*margin-left: 8px;*/
}

.right{
  // margin-right: 8px;
}

.cards ion-card-content{
  padding-bottom: 0;
}

.cards ion-card-header{
  padding-top: 0;
}

.cards ion-card-title{
  font-size: 20px;
}

.cards-icon{
  font-size: 70px;
}